</div>

<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>

<script src="/assets/js/app.js"></script>

<script src="/assets/js/custom.js"></script>
<script src="/assets/libs/jquery/angular.min.js"></script>

<!-- Include page scripts as script tags -->
<% for (let i = 0; i < scripts.length; i++) { %>
    <script src="/assets/js/<%= scripts[i] %>.js"></script>
<% } %>
<!-- END: Include page scripts as script tags -->
<script>
    // if localStorage doesn't have loggedInUser
    if (!localStorage.getItem('loggedInUser')) {
        // get user from the locals and set in localStorage as loggedInUser in JSON format
        localStorage.setItem('loggedInUser', '<%- JSON.stringify(user) %>');
        // get user from the localStorage
        let loggedInUser = JSON.parse(localStorage.getItem('loggedInUser'));
    }
</script>
</body>

</html>