</div>

<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>

<script src="/assets/js/app.js"></script>

<script src="/assets/js/custom.js"></script>
<script src="/assets/libs/jquery/angular.min.js"></script>

<!-- Include page scripts as script tags -->
<% for (let i = 0; i < scripts.length; i++) { %>
    <script src="/assets/js/<%= scripts[i] %>.js"></script>
<% } %>
<!-- END: Include page scripts as script tags -->
<script>
    var loggedInUser = undefined;
    // if localStorage doesn't have loggedInUser
    if (!localStorage.getItem('loggedInUser')) {
        // get user from the locals and set in localStorage as loggedInUser in JSON format
        localStorage.setItem('loggedInUser', '<%- JSON.stringify(user) %>');
        loggedInUser = JSON.parse(localStorage.getItem('loggedInUser'));
    } else {
        // get user from the localStorage
        loggedInUser = JSON.parse(localStorage.getItem('loggedInUser'));
    }

    // handle logout form submission override
    let logoutForm = $('#logout_form');
    function checkLogout() {
        if(confirm('Are you sure you want to logout?')) {
            logoutForm.submit();
        }
    }

    // capture logout menu item click
    $('#trigger_logout').click(checkLogout);

    var auth_type = 0;
    if(loggedInUser) {
        if(loggedInUser.userTypeId == 1)
        {
            auth_type = 'admin';
        } else if(loggedInUser.userTypeId == 2) {
            auth_type = 'station_admin';
        }
    } else {
        console.log('logged in user not available');
    }

    var links = $('[data-roles]');
    console.log('got ' + links.length + ' links');
    $.each(links, function(i,x){
        let role = $(x).data('roles');
        let roles = role.split('|');
        if(!roles.includes(auth_type)) {
            $(x).remove();
        }
    });
    $('#sidebar-menu').removeClass('d-none');
</script>
</body>

</html>