<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="/" class="waves-effect">
                        <span class="fa fa-home"></span>
                        <span key="t-chat">Home</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-administation">Administration</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/districts" key="t-tui-calendar">Districts</a></li>
                        <li><a href="/admin/fuel-types" key="t-full-calendar">Fuel Types</a></li>
                        <li><a href="/admin/fuel-stations" key="t-full-calendar">Fuel Stations</a></li>
                        <li><a href="/admin/vehicle-types" key="t-full-calendar">Vehicle Types</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-filling-stations">Filling Stations</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/station/current-stock" key="t-tui-calendar">Current Stock</a></li>
                        <li><a href="/station/station-order" key="t-full-calendar">Station Order</a></li>
                        <li><a href="/station/station-stock-log" key="t-full-calendar">Station Stock Log</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-customers">Customers</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/customer/vehicle-quota-request" key="t-tui-calendar">Quota Requests</a></li>
                        <li><a href="/customer/vehicle-view" key="t-full-calendar">View Vehicles</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fa fa-user"></i>
                        <span key="t-users">Users</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/users/list" key="t-tui-calendar">List Users</a></li>
                        <li><a href="/users/add" key="t-full-calendar">Add Users</a></li>
                        <li><a href="/users/add-types" key="t-full-calendar">Add User Types</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>